* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.container,.container-otp {
    position: relative;
    width: 100%;
    background-color: white;
    min-height: 100vh;
    overflow: hidden;
    border: 1px solid green;
}

.container::before, .container-otp::before {
    content: '';
    background: linear-gradient(141.44deg, 
                rgba(2, 20, 129) -6.78%, 
                rgba(208, 14, 120) 111.12%);
    border-radius: 25px 25px 50px 50px;
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: -50%;
    transform: skew(20deg);
    z-index: 4;
    transition: all 1s ease-in-out;
}

.container::after, .container-otp::after {
    content: '';
    background: linear-gradient(36.56deg, 
                rgba(208, 14, 120) -6.78%, 
                rgba(2, 20, 129) 111.12%);
    border-radius: 25px 25px 50px 50px;
    height: 100vh;
    width: 100vw;
    position: absolute;
    right: -150%;
    transform: skew(-20deg);
    z-index: 4;
    transition: all 1s ease-in-out;
}

.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.signin-signup,.email-otp {
    position: absolute;
    width: 50%;
    top: 25%;
    left: 50%;
    z-index: 5;
    transition: all 1.2s ease-in-out;
    border: 1px solid blue;
}

.signup-signup,.number-otp {
    position: absolute;
    width: 50%;
    top: 50%;
    left: -50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    transition: all 1.2s ease-in-out;
    border: 1px solid pink;
}

.signup-signup > form > p, .number-otp > form > p{
    font-size: 12px;
    color: rgb(128, 128, 128);
    margin: 5px 0px 0px 0px;
}

.signup-signup > form > p > a , .number-otp > form > p > a {
    font-size: 12px;
    color: black;
    margin: 5px 0px 0px 0px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px red solid;
}

.form-title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
}

.input-field {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0px;
    position: relative;
    border: 1px solid green;
}

.form-field {
    max-width: 400px;
    width: 100%;
    display: flex;
    padding: 10px 0px;
    border: 1px solid green;
    

}

.input-field > a {
    text-decoration: none;
    font-size: 11px;
    position: absolute;
    top: 20%;
    right: 2%;
}

.input-field .input-title {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 3px;
}

input {
    background-color: rgb(243, 243, 243);
    max-width: 400px;
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 400;
    font-size: 12px;
    border-radius: 5px;
}

input:focus {
    border: solid rgb(208, 208, 208) 2px;
}

button a {
    text-decoration: none;
}
.btn {
    font-family: 'Poppins', sans-serif;
    max-width: 400px;
    width: 100%;
    height: 40px;
    background: rgb(0, 0, 163);
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0px 5px 0px;
    transition: all 0.5s;
    cursor: pointer;
}

.btn:hover {
    background: rgb(0, 0, 80);
    transform: translate(-2px, -2px);
}

.social-media {
    width: 100%;
    max-width: 400px;
    height: 40px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: .3px .3px 5px -2px rgb(83, 83, 83);
    background: white;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.5s;
}

.social-media:hover {
    transform: translate(-2px, -2px);
}

.social-media i {
    font-size: 20px;
    margin: 10px;
}

.social-media .google-login {
    text-decoration: none;
    color: #EA4335;
}

.side-container {
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    border: 1px solid black;
}

.panel {
    width: max-content;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    border: 1px solid yellowgreen;
}

.left-container, .left-container-otp {
    left: 50%;
    transition: all 1.2s ease-in-out;
    border: 1px solid orange;
}

.right-container, .right-container-otp {
    right: -200%;
    transition: all 1.2s ease-in-out;
}

.panel h3 {
    font-weight: 500;
    line-height: 1;
    font-size: 25px;
    letter-spacing: 0.3px;
    word-spacing: 1px;
    margin: 20px 0px;
}

.panel p {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
}

.panel .btn {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: rgb(0, 0, 163);
    width: 100%;
    transition: all 0.3s;
}

.panel .btn:hover {
    color: rgb(2, 2, 77);
}

.clickable, #timer {
    cursor: pointer;
    padding-left: 2px;
    color: rgb(0, 0, 163);
}

#timer {
    color: black;
    padding-left: 10px;
    border: 1px solid red;


}

.flex-s-b {
    justify-content: space-between;
}

#request-otp {
    margin-left: -110px;
}


.otp-input {
    display: flex;
    justify-content: center;
    
}

.otp-input input {
    margin: 20px 10px;
    height: 50px;
    font-size: 16px;
    text-align: center;
}
/* Animation */
.container.enter-signup::before, .container-otp.enter-no-otp::before {
    left: -150%;
}

.container.enter-signup::after, .container-otp.enter-no-otp::after {
    right: -50%;
}

.container.enter-signup .left-container, .container-otp.enter-no-otp .left-container-otp{
    left: -50%;
}

.container.enter-signup .right-container, .container-otp.enter-no-otp .right-container-otp {
    right: -110%;
}

.container.enter-signup .signup-signup, .container-otp.enter-no-otp .number-otp  {
    left: 25%;
}

.container.enter-signup .signin-signup, .container-otp.enter-no-otp .email-otp  {
    left: 150%;
}


/* The Google Logo */
.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}









/* Mobile Responsiveness */
@media screen and (max-width: 991px)
{
    .container::before, .container-otp::before {
        content: '';
        background: linear-gradient(36.56deg, 
                    rgba(208, 14, 120) -6.78%, 
                    rgba(2, 20, 129) 111.12%);
        border-radius: 20px;
        height: 80vh;
        width: 100vw;
        position: absolute;
        left: 98%;
        transform: skew(0deg);
        transform: translate(0%, 10%);
        z-index: 8;
        transition: none;
    }
    
    .container::after, .container-otp::after {
        content: '';
        background: linear-gradient(141.44deg, 
                    rgba(2, 20, 129) -6.78%, 
                    rgba(208, 14, 120) 111.12%);
        border-radius: 20px;
        height: 80vh;
        width: 100vw;
        position: absolute;
        right: 98%;
        transform: skew(0deg);
        transform: translate(0%, 10%);
        z-index: 8;
        transition: none;
    }
    
    .signin-signup, .email-otp {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .signup-signup, .number-otp {
        width: 100%;
        height: 100%;
        top: 0;
        left: -110%;
        transform: translate(0, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .side-container {
        width: 100%;
        height: 25%;
        top: 75%;
        display: flex;
        align-items: flex-start;
        justify-content: center ;

    }
    
    .left-container, .left-container-otp {
        border: 1px solid green;
        transform: translate(50%);
        transition: all 1.2s ease-in-out;
    }
    
    .right-container, .right-container-otp {
        transform: translate(280%, 500%);
        transition: all 1.2s ease-in-out;
        border: 1px solid red;
    }

    .panel {
        position: unset;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        width: max-content;
        color: black;
        margin-top: 5px;
        min-width: 300px;
    }

    .panel h3 {
        font-weight: normal;
        color: rgb(95, 95, 95);
        font-size: 1rem;
        letter-spacing: normal;
        word-spacing: normal;
        margin: 0px;
    }
    
    .panel p {
        display: none;
    }
    
    .panel .btn {
        display: inline;
        background-color: none;
        width: auto;
        border-radius: 0px;
        color: black;
        text-decoration: underline;
        /* width: max-content;
        height: max-content; */
        font-size: 1rem;
        /* position: absolute; */
        /* top: -120%;
        left: 105%; */
        transition: none;
        padding-left: 2px;
    }

    .otp-input input {
        width: 50px;
    }

    #request-otp {
        margin-left: 0px;
    }

    .panel .btn:hover {
        transform: translate(0%, 0%);
    }

    .container.enter-signup::before, .container-otp.enter-no-otp::before {
        left: 98%;
        transform: translate(0%, 10%);
    }
    
    .container.enter-signup::after, .container-otp.enter-no-otp::after {
        right: 98%;
        transform: translate(0%, 10%);
    }

    .container.enter-signup .left-container , .container-otp.enter-no-otp .left-container-otp{
        transform: translate(-300%);
    }
    
    .container.enter-signup .right-container , .container-otp.enter-no-otp .right-container-otp{
        transform: translate(-50%,100%);
    }
    
    .container.enter-signup .signup-signup, .container-otp.enter-no-otp .number-otp {
        left: 0%;
    }
    
    .container.enter-signup .signin-signup , .container-otp.enter-no-otp .email-otp {
        left: 150%;
    }

}
