* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  width: 100%;
  color: #333;
  font-size: 1.5rem;
}

img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.button {
  font-weight: 700;
  background-color: #0214b1;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  color: #333
}

button {
    
  cursor: pointer;
}


h2 {
  font-size: 3.0rem;
  line-height: 73.14px;
}
/* header section */
 
header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 100px;
  width: 100%;
  background: #fff;

}

header .logo {
  float: left;
  width: 30%;
  height: 50px;

} 

header .logo img {
  max-width: 50%;
  max-height: 100%;
  margin: auto 0;
}

header nav {
  float: right;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px 0 0;
  color: #333;
  text-decoration: none;
  font-size: 1.5rem;
}

header nav ul li a:hover {
  font-weight: 700;
}

.menu-toggle {
  float: right;
  line-height: 50px;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

   /* First section */

.first-section {
  background-color: #f2f6ff;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 200px 100px 200px 100px ;
  justify-items: center;
  gap: 50px;
  width: 100%;
}

.first-section-right{
  width: 100%;
}

.first-section-left {
  width: 100%;
}

.first-section-left > p {
  padding: 8px 0;
  font-size: 1.5rem;
  line-height: 29.26px;
  text-align: justify;
}


.first-section-button {
  text-align: center;
}
.first-section-button > button {
  font-size: 22px;
  color: white;
  background-color: #021481;
  width: 200px;
  height: 60px;
  border-radius: 20px;
  
}

 /* Second section */

.second-section {
  background-color: rgba(242, 246, 255, 0.4);
  width: 100%;
  display: flex;
  flex-direction: column;
}
.our-services {
  text-align: center;
}
.second-section-parts {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 50px;
  width: 100%;
  justify-items: center;
  padding: 150px 100px 150px 100px ;
}
.second-section-left {
  width: 100%;
}

.second-section-right {
  width: 100%;
}
.second-section-left > p {
  padding: 8px 0;
  font-size: 1.5rem;
  line-height: 29.26px;
}
.second-section-button {
  text-align: center;
}
.second-section-button > button {
  font-size: 22px;
  color: white;
  background-color: #063a3e;
  width: 200px;
  height: 60px;
  border-radius: 20px;
  border: 1px solid #063a3e;
}


 /* Third section */

.third-section {
  background-color: #f2f6ff;
  display: grid;
  grid-template-columns: 50% 50% ;
  padding: 150px 100px 150px 100px ;  
  justify-items: center;
  gap: 50px;
  width: 100%;
}
.third-section-right {
  width: 100%;
}

.third-section-left {
  width: 100%;
}
.third-section-left > p {
  padding: 8px 0;
  font-size: 1.5rem;
  line-height: 29.26px;
}
.third-section-button {
  text-align: center;
}
.third-section-button > button {
  font-size: 22px;
  color: white;
  background-color: #881556;
  width: 200px;
  height: 60px;
  border-radius: 20px;
  border: 1px solid #881556;
}

 /* Forth Section */


.forth-section {
  background-color: rgba(242, 246, 255, 0.4);
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 150px 100px 150px 100px ;;  
  justify-items: center;
  gap: 50px;
  width: 100%;
}
.forth-section-right {
  width: 100%;
}

.forth-section-left {
  width: 100%;
}
.forth-section-left > p {
  padding: 8px 0;
  font-size: 1.5rem;
  line-height: 29.26px;
}
.forth-section-button {
  text-align: center;
}
.forth-section-button > button {
  font-size: 22px;
  color: white;
  background-color: #0b696a;
  width: 200px;
  height: 60px;
  border-radius: 20px;
  border: 1px solid #0b696a;
}

  /* Faq section */
.faq-section {
  background-color: #f2f6ff;
  padding: 150px 100px;
  width: 100%;
}
.faq-section > h2 {
  line-height: 60.95px;
  font-weight: 700;
  text-align: center;
}
.faq-select {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.faq-select > select {
  width: 100%;
  height: 70px;
  margin-top: 16px;
  font-weight: 500;
  font-size: 1.8rem;
  outline: none;
}

 /* Contact us section */

.contact-us-section {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 50px;
  width: 100%;
  justify-items: center;
  padding: 150px 100px 150px 100px ;
}


.contact-us-left {
  width: 100%;
  padding: 32px;
}

.contact-us-right {
  width: 100%;
}
.contact-us-head {
  text-align: center;
  margin: 16px;
}
.contact-us-head > h4 {
  font-weight: 700;
  font-size: 2.25rem;
  color: #021481;
}
.contact-us-left > form > input {
  border: 1px solid #021481;
  margin-top: 16px;
  width: 100%;
  height: 50px;
  outline: none;
  border-radius: 15px;
  padding-left: 10px;
}

.contact-us-left > form > textarea {
  width: 100%;
  margin-top: 16px;
  outline: none;
  border: 1px solid #021481;
  height: 150px;
  resize: none;
  border-radius: 15px;
  padding: 10px;
  
}

.contact-us-left > form > button {
  background-color: #012481;
  margin-top: 16px;
  width: 100%;
  height: 50px;
  border: 2px solid #012481;
  border-radius: 15px;
  font-size: 25px;
  font-weight: 700;
  color: white;
  outline: none;
}

 /* Footer */
footer {
  display: grid;
  grid-template-columns: 20% 20% 25% 35%;
  background-color: #021481;
  color: white;
  padding: 100px;
  width: 100%;
}

footer > div {
  width: 100%;
}
footer > div > h5 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 39px;
}
footer > div > ul > li {
  list-style-type: none;
}
footer > div > ul > li > a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
}
.footer-right > p {
  font-size: 1.5rem;
}

.subscribe-box {
  width: 100%;
  display: flex;
  margin-top: 20px;


}
.subscribe-box > input {
  width: 60%;
  height: 40px;
  background-color: #021481;
  border: 1px solid white;
  border-radius: 10px 0px 0px 10px;
  text-align: center;
  outline: none;
}
.subscribe-box > button {
  height: 40px;
  width: 40%;
  background-color: white;
  border: 1px solid white;
  font-size: 15px;
  color: #021481;
  border-radius: 0px 10px 10px 0px;
  outline: none;
}


 /* Below footer */

 .below-footer {
   width: 100%;
   padding: 20px 100px;
   display: grid;
   grid-template-columns: 1fr auto 1fr;
 }

/* Media Queries */

@media screen and (max-width: 900px) {
  html {
    font-size: 10px;
  }
  img {
    width: 100%;
  }

  h2 {
    line-height: 40px;
  }
  header {
    padding: 20px 50px;

  }

  header .logo {
    width: 50%;
  } 

  header .logo img {
    max-width: 70%;
    height: 100%;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
  }

  header nav {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #fff;
    top: 90px;
    left: -100%;
    transition: 0.5s;
  } 

  header nav.active {
    left: 0;
  }

  header nav  ul {
    display: block;
    text-align: center;
  }




  h2 {
    text-align: center;
  }

  .first-section,
  .third-section,
  .forth-section,
  .second-section-parts,
  .contact-us-section {
    grid-template-columns: 100%;
    padding: 100px 50px;
  }

  .first-section-left,
  .second-section-left,
  .third-section-left,
  .forth-section-left,
  .contact-us-left {
    order: 2;
  }

  .first-section-right,
  .second-section-right,
  .third-section-right,
  .forth-section-right,
  .contact-us-right {
    order: 1;
  }

  .first-section-left > p,
  .second-section-left > p,
  .third-section-left > p,
  .forth-section-left > p {
    text-align: center;
    line-height: 24px;
  }
  .first-section-button,
  .second-section-button,
  .third-section-button,
  .forth-section-button {
    text-align: center;
  }

   
  .faq-section {
    padding: 50px;
  }
  .faq-section > h2 {
    line-height: 40px;
    text-align: center;
  }
  .faq-select {
    width: 100%;
  }
  .faq-select > select {
    height: 50px;
  } 

  .contact-us-left {
    padding: 0;
  }
  
  
  footer {
    padding: 50px;
    grid-template-columns: 100%;
    justify-items: center;
    gap: 20px;
    text-align: center;
  }
  
  

  .below-footer {
    grid-template-columns: 1fr;
    text-align: center;
  }

}
